
name: Terraform-Azure-Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  init:
    runs-on: ubuntu-latest
    env:
      TF_VAR_tenant_id: ${{ secrets.tenant_id }}
      TF_VAR_client_id: ${{ secrets.client_id }}
      TF_VAR_client_secret: ${{ secrets.client_secret }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest
      - name: Terraform Init
        run: terraform init

  fmt:
    runs-on: ubuntu-latest
    needs: init
    env:
      TF_VAR_tenant_id: ${{ secrets.tenant_id }}
      TF_VAR_client_id: ${{ secrets.client_id }}
      TF_VAR_client_secret: ${{ secrets.client_secret }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest
      - name: Terraform Format
        run: terraform fmt

  validate:
    runs-on: ubuntu-latest
    needs: fmt
    env:
      TF_VAR_tenant_id: ${{ secrets.tenant_id }}
      TF_VAR_client_id: ${{ secrets.client_id }}
      TF_VAR_client_secret: ${{ secrets.client_secret }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest
      - name: Terraform init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate

  plan:
    runs-on: ubuntu-latest
    needs: validate
    env:
      TF_VAR_tenant_id: ${{ secrets.tenant_id }}
      TF_VAR_client_id: ${{ secrets.client_id }}
      TF_VAR_client_secret: ${{ secrets.client_secret }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest
      - name: Terraform init
        run: terraform init
      - name: Terraform Plan
        run: terraform plan -out=tfplan

  apply:
    runs-on: ubuntu-latest
    needs: plan
    env:
      TF_VAR_tenant_id: ${{ secrets.tenant_id }}
      TF_VAR_client_id: ${{ secrets.client_id }}
      TF_VAR_client_secret: ${{ secrets.client_secret }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest
      - name: Terraform init
        run: terraform init
      - name: Terraform plan
        run: terraform plan
      - name: Terraform Apply
        run: terraform apply --auto-approve
      - name: Terraform Output
        run: terraform output
      - name: Deployment Status
        run: echo "✅ Your Terraform code is deployed successfully!"
